<!DOCTYPE html>
<html>
<head>
    <title>Product Management</title>
    <link rel="stylesheet" href="updatepr.css"> <!-- Linking external CSS file -->
</head>
<body>
    <div class="container">
        <h1>Update a  Product</h1>
        <form id="productForm" class="product-form" action="/update-products" method="POST" encType="multipart/form-data">

            <div class="form-group">
                <label for="product_id">Product ID:</label>
                <input type="text" id="product_id" name="product_id" required>
            </div>

            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" required>
            </div>

            <div class="form-group">
                <label for="product_price">Product Price:</label>
                <input type="text" id="product_price" name="product_price" required>
            </div>

            <div class="form-group">
                <label for="product_image">Product Image:</label>
                <input type="file" id="product_image" name="sampleFile" accept="image" required>
            </div>

            <div class="form-group">
                <label for="product_section">Product Section:</label>
                <input type="text" id="product_section" name="product_section" required>
            </div>

            <div class="form-group">
                <label for="product_category">Product Category:</label>
                <input type="text" id="product_category" name="product_category" required>
            </div>

            <div class="form-group">
                <label for="product_company">Product Company:</label>
                <input type="text" id="product_company" name="product_company" required>
            </div>

            <div class="form-group">
                <label for="product_description">Product Description:</label>
                <input type="text" id="product_description" name="product_description" required>
            </div>

            <button type="submit" class="submit-button">Update Product</button>
        </form>
    </div>

    <!--<script src="crproduct.js"></script> Linking external JavaScript file -->
</body>
</html>
